div.header > h1 {
 font-size: 3.2em;
 text-align: center;
}

div.header > h3 {
 text-indent: 0%;
 text-align: center;
}

div.appendix {
 margin: 0em;
 padding-left: 0.5em;
 width: 22em;
} 
div.appendix > h3 {
 text-indent: 1em;
}
div.appendix > ul , ul.appendix {
 list-style-type: none;
 text-indent: 1em;
}
div.appendix table{
 border-left: dotted;
 border-bottom: dotted;
 border-right:  dotted;
}
div.appendix td{
 vertical-align: top;
 padding-left:  0.5em;
 padding-right: 0.5em;
}

ul.toc {
 list-style-type: none;
}
ul.toc > li {
 font-size: 1.2em;
 font-weight: bold;
 padding-bottom: 0.5em;
}

ul.toc > ul {
 ul li {
  font-size: 1em;
 }
}

h3 {
 text-indent: 2%;
}
p {
 padding-right: 4%;
 padding-left:  4%;
}

div.header {
 padding-right : 25%;
 border-bottom: solid;
}

div.header > h1 {
 font-size : 3.2em;
 text-align : center;
}

div.header > h3 {
 text-indent : 0%;
 text-align : center;
}

ol.subslist {
 padding-left: 6%;
 list-style-position: inside;
}

body {
 background-color: aliceblue;
}
